body {
  margin-top: 105px;
  font-family: 'Roboto', sans-serif;
 }

/*navbar*/
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  /*opacity: 0.9;*/
  background: #fff;
 }

 .logoText{
   color:#3f4b50;
 }

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 20px;
   }

/*text ot btn*/
.navBtnText{
  color:white !important;
  font-size:14px;
   }

/*logo Btn*/
.navBtnSignup{
  height:45px;
  width:100px;
  margin-right:5px;
  border-radius:3px;
  }

/*login*/
#login{
  margin-top:5%;
  margin-bottom:7%;
}

h4{
  color:#6a6a6a;

}

/*hr*/
li{
  list-style-type: none;
}

.account{
  margin-top:5px;

}
#user{
  color:#838386;
  font-size:14px;
  text-align:center;
   }
#creatAcc{
  color:#2c879c;
  font-weight:bolder;
  text-align: center;
}
#copyRight{
  color:#838386;
  font-size:12px;
  text-align:center;
}

/*footer*/
.footer{
  width: 100%;
 }
