body {
  margin-top: 105px;
  font-family: 'Roboto', sans-serif;
 }

/*navbar*/
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  /*opacity: 0.9;*/
  background: #fff;
 }

 .logoText{
   color:#3f4b50;
 }

.navbar .nav-item {
  font-size: 1.4rem;
  padding-right: 20px;
   }

/*text ot btn*/
.navBtnText{
  color:white !important;
  font-size:14px;
  }

/*signin Btn*/
.navBtnSignin{
  height:45px;
   width:100px;
   margin-right:5px;
  border-radius:3px;
   }

/*divider*/

.divider {
  width: 1px;
  background-color: #f3f3f3;
  margin: 80px 0;
}


.divider-wrapper {
flex: 1 1;
align-self: stretch;
display: flex;
justify-content: center;
}



/*footer*/
.footer{
  width: 100%;
 }


 @media only screen and (max-width: 960px) {
 .divider-wrapper {
     display: none; } }
