body {
  margin-top: 105px;
  font-family: 'Roboto', sans-serif;
 }


/*navbar*/
.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  /*opacity: 0.9;*/
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px;
   }
.logoText{
  color:#3f4b50;
}
/*text ot btn*/
.navBtnText{
  color:white !important;
  font-size:14px;
}

/*add and user btn*/
.navBtn{
  height:45px;
  width: 70px;
  margin-right:5px;
  border-radius:3px;
}

/*log out Btn*/
.navBtnlogout{
  height:45px;
  width:100px;
  margin-right:5px;
  border-radius:3px;
}

/*search*/
#searchBarContainer{
background-color:#393a3e;
height:60px;
padding:0;
margin:0;
}

#searchBar{
height:20px;
margin:0px;
/*padding-top:1%;*/
padding-bottom:1%;
background-color:#393a3e;
color:#838386;
font-size: 22px;
font-weight:bold;
border:0px;
}

/*Changing the color and style of the placeholder text*/
::-webkit-input-placeholder {
  color:#838386 !important;
  transition: opacity 250ms ease-in-out;
  font-size: 22px;
}

:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.searchButton {
background-color:#393a3e;
border:0px !important;
margin-top: -10px !important;
}

.fa-search{
color:#838386;
/*font-size: 22px;
padding-bottom: 5px;*/
}

/*modal*/
.modal-header{
  border-top-left-radius:4px;
  border-top-right-radius:4px;
}
.modal-content{
  border-radius:5px;
  background-color:#f7f7f7;
}
.form-control{
  border-radius:3px !important;
}
.cancleBtn{
  background-color:#393a3e !important;
  border-radius:3px;
}
.saveBtn{
  border-radius: 3px !important;
}

/*table*/
thead{
  background-color: #393a3e;

}

/*footer*/
.footer{
  width: 100%;
 }
